:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
*{
  margin:0;
  padding:0;
}

#app{
  width: 50vw;
  height: fit-content;
  margin: auto;
}
.container{
  border-radius: 20px;
  background-color: rgb(243, 141, 105);
  min-height: 99vh;
  padding: 10px 0;
}
.container>form{
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.container>form input{
  width: 80%;
  padding: 15px;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  outline: none;
}
.addBtn{
  width: 80%;
  padding: 15px;
  font-size: 1em;
  font-weight: bold;
  text-transform:capitalize;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
.work{
  width:90%;
  border-radius: 10px;
  margin:10px auto;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
.content>h3{
  text-transform: capitalize;
}
.btns{
  display: flex;
  align-items: center;
  gap: 10px;
}
.btns>input{
  width:25px;
  height:25px;
  cursor: pointer;
}
.btns>button{
  background-color: rgba(235, 53, 53, 0.762);
  width:25px;
  height:25px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
}